body{
    color: purple;
    background-color: lightskyblue;
    border: 5px solid limegreen;
}

h2{
    color:white;
    text-align: center;
    font-style: italic;
}

h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: white;
}

section{
    text-align: center;
    font-style: bold;
}

img{
    size: 50px;
}

a{
    color: limegreen;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}