/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

ul{
  width: 100%;
}

li{
  display: inline;
  list-style: none;
}

span{
  width: 100%;
  border: purple solid 2px;
  display: flex;
  padding-left: 15px;
}

/***** MAIN CONTENT ******/

main{
  height: 350px;
  border: blue solid 2px;
}
section.whiteText{
  color: white;
}
section.mainHeadline,section.rightSquares{
  border: gold solid 2px;
  background-color: black;
  float: left;
  width: 50%;
  height: 400px;
}

h2.sideHeadline{
  border: purple solid 2px;
  background-color: black;
  float: right;
  width: 50%;
  height: 50%;
  padding: 20px 0 20px 0;
  margin: 0;
}









section.news{
  border: red solid 2px;
  width: 33%;
  float: left 
}