/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: grey;
}


/******************************************
/* LAYOUT
/*******************************************/
nav,main,aside{
  float: left;
  width: 20%;
}

main{
  width: 40%;
}

aside{
  width: 40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
