/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  width: 100%;
  background-color: rgb(245,249,252);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(48,70,89);
}


/******************************************
/* header
/*******************************************/
header{
  margin: 1.5%;
}

header > nav{
  display: flex;
  justify-content: space-between;
}

nav a, nav section{
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(48,70,89);
}

nav > a{
  font-weight: bolder;
}

nav > section + a{
  background-color: rgb(48,70,89);
  color: white;
}

form > a{
  background-color: rgb(48,70,89);
  padding: 5px 10px;
  color: white;
}

/******************************************
/* mainpage
/*******************************************/

section.page1{
  display: flex;
}

section.page1 section{
  padding: 5%;
}

img{
  max-width: 50%;
}

/******************************************
/* page 1.5
/*******************************************/

section.page2{
  display: flex;
  justify-content: center;
  padding: 5%;
}

section.features{
  margin: 0 10px;
}

a{
  text-decoration: none;
  color: rgb(48,70,89);
}

/******************************************
/* FOOTER 
/*******************************************/

footer{
  background-color: white;
  border: 30px solid white;
  padding: 30px;
}

footer h6{
  font-size: smaller;
}

/************MOBILE***********/


@media screen and (max-width: 600px) {
  .features, footer{
    display: none;
  }

  nav a, header{
    display: none;
  }

  /******/

  section.page1{
    display: flex;
    flex-direction: column;
  }
  
  section.page1 section{
    padding: 5%;
  }
  
  img{
    max-width: 100%;
  }


/****SEARCH BAR AND BUTTON ARE IN A FLEXBOX**/
  form > a{
    background-color: rgb(48,70,89);
    padding: 5px 40px;
    color: white;
  }



}



